* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #101427;
  color: #e2e2e2;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

h1, h4 {
  margin: .5em;
}

h1.logo {
  /* font-family: "Harlow Solid Italic"; */
  font-family: "Gyparody";
  font-weight: lighter;
  font-size: 10vw;
}

h2 {
  padding: 10px
}

div {
  margin-bottom: 1em;
  text-align: center;
}

#select-game, #username {
  font-size: large;
}

#password, #password_confirmation {
  font-size: large;
  margin-top: .5em;
}

.question {
  margin: .5em;
}

.error {
  color: red;
  margin-top: 10px;
}

.scores-list {
  margin: 1em;
}

.table {
  text-align: center;
  margin: .5em;
  width: 100%;
  box-sizing: border-box; 
}

.label {
  width: 100%;
  box-sizing: border-box;
}

.green {
  animation: flash-green 1 1s;
}

@keyframes flash-green {
  0% {
    color: #34495e;
    text-shadow: nil;
  }
  50% {
    color: green;
    text-shadow: lawngreen;
  }
  100% {
    color: #34495e;
    text-shadow: nil;
  }
}

.green2 {
  animation: flash-green2 1 1s;
}

@keyframes flash-green2 {
  0% {
    color: #34495e;
    text-shadow: nil;
  }
  50% {
    color: green;
    text-shadow: lawngreen;
  }
  100% {
    color: #34495e;
    text-shadow: nil;
  }
}

.red {
  animation: shake-red 1 1s;
}

@keyframes shake-red {
  0% { transform: translate(5px,0px); }
  10% { transform: translate(-5px,0px ) ; }
  20% { transform: translate(4px,0px); }
  30% { transform: translate(-4px,0px); }
  40% { transform: translate(3px, 0px); }
  50% { transform: translate(-3px,0px) ; }
  60% { transform: translate(2px,0px); }
  70% { transform: translate(-2px,0px) ; }
  80% { transform: translate(1px,0px ); }
  90% { transform: translate(-1px,0px); }
  100% { transform: translate(0px,0px ) ; }

  0% {
    color: #34495e;
    text-shadow: nil;
  }
  50% {
    color: red;
    text-shadow: rgb(255, 73, 73);
  }
  100% {
    color: #34495e;
    text-shadow: nil;
  }
}

.red2 {
  animation: shake-red2 1 1s;
}

@keyframes shake-red2 {
  0% { transform: translate(5px,0px); }
  10% { transform: translate(-5px,0px ) ; }
  20% { transform: translate(4px,0px); }
  30% { transform: translate(-4px,0px); }
  40% { transform: translate(3px, 0px); }
  50% { transform: translate(-3px,0px) ; }
  60% { transform: translate(2px,0px); }
  70% { transform: translate(-2px,0px) ; }
  80% { transform: translate(1px,0px ); }
  90% { transform: translate(-1px,0px); }
  100% { transform: translate(0px,0px ) ; }

  0% {
    color: #34495e;
    text-shadow: nil;
  }
  50% {
    color: red;
    text-shadow: rgb(255, 73, 73);
  }
  100% {
    color: #34495e;
    text-shadow: nil;
  }
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


.App-logo {
  margin-top: 30px;
  height: 20vmin;
  pointer-events: none;
  animation-name: App-logo-spin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.2s ease-in-out;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}