* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #101427;
  color: #e2e2e2;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

h1, h4 {
  margin: .5em;
}

h1.logo {
  font-size: 10vw;
}

h2 {
  padding: 10px
}


div {
  margin-bottom: 1em;
  text-align: center;
}

.question {
  margin: .5em;
}

.scores-list {
  margin: 1em;
}

.table {
  text-align: center;
  margin: .5em;
  width: 100%;
  box-sizing: border-box; 
}

.label {
  width: 100%;
  box-sizing: border-box;
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


.App-logo {
  margin-top: 30px;
  height: 20vmin;
  pointer-events: none;
  animation-name: App-logo-spin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.2s ease-in-out;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}