* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #101427;
  color: #e2e2e2;
  overflow-x: hidden;

  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

h1, h4 {
  margin: .5em;
}

h2 {
  padding: 10px
}


div {
  margin-top: 8em;
  text-align: center;
}

.question {
  margin: .5em;
}

.scores-list {
  margin: 1em;
}

ol {
  text-align: center;
  list-style-position: inside;
}


